{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": "usage", "debug": true, "corejs": 3
      }],
      ["@babel/preset-react"],
      ["@babel/preset-typescript"]
    ],
    "plugins": [
      ["@babel/plugin-transform-runtime", { "corejs": 3, "proposals": true }],
      ["@babel/plugin-syntax-dynamic-import"],
      ["@babel/plugin-syntax-import-meta"],
      ["@babel/plugin-transform-class-properties"]
    ],
    "assumptions": {
      "setPublicClassFields": false
  }
}  